In [1]:
import numpy as np
import pandas as pd
from types import new_class
from typing import Tuple, Union, List
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('chirp_rainfall.csv') # parse_dates=['Date'], index_col=['Date'])
data.sample(5)

            Date  Rainfall
12506  3/30/2015       0.0
3455   6/18/1990       0.0
9870   1/10/2008       0.0
10379   6/2/2009       0.0
7111   6/21/2000       0.0

In [3]:
data.shape

(14975, 2)

In [4]:
df = data.copy()
df.to_csv('rainfall.csv')

In [5]:
'''data = pd.read_csv('data.csv')
df =np.array(data)
X = df[:,:]
y =df[:,1]
x_train, y_train = X[:10500], y[:10500]
x_test, y_test = X[10500:], y[10500:]
'''

"data = pd.read_csv('data.csv')\ndf =np.array(data)\nX = df[:,:]\ny =df[:,1]\nx_train, y_train = X[:10500], y[:10500]\nx_test, y_test = X[10500:], y[10500:]\n"

In [6]:
XY = Tuple[np.ndarray, np.ndarray]
Dataset = Tuple[XY, XY]
LogRegParams = Union[XY, Tuple[np.ndarray]]
XYList = List[XY]

In [7]:
XYList

typing.List[typing.Tuple[numpy.ndarray, numpy.ndarray]]

In [8]:
df1 = data.copy()
df1['Day'] = pd.DatetimeIndex(df1['Date']).day
df1['Month'] = pd.DatetimeIndex(df1['Date']).month
df1['Year'] = pd.DatetimeIndex(df1['Date']).year

In [9]:
df1.columns

Index(['Date', 'Rainfall', 'Day', 'Month', 'Year'], dtype='object')

In [10]:
#df1.drop([' ','Date'], axis=1, inplace=True)
df1.sample(5)

             Date  Rainfall  Day  Month  Year
188      7/8/1981     4.527    8      7  1981
14872   9/20/2021    23.278   20      9  2021
11976  10/16/2013     0.000   16     10  2013
13074  10/18/2016     0.000   18     10  2016
7748    3/20/2002     0.000   20      3  2002

In [11]:
df1.to_csv('data.csv')

In [12]:
df1.Rainfall.value_counts()

0.000     12088
9.078         5
10.408        5
9.320         5
15.844        4
          ...
28.253        1
9.418         1
27.364        1
41.047        1
6.540         1
Name: Rainfall, Length: 2208, dtype: int64